<%- include('header', {pagetitle: 'Módosítás'}) -%>
<%- include('navbar', {active: 'none'}) -%>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Adatok módosítása</h1>
            <br>
            <br>

            <form method="POST">
                <div class="form-group">
                    <label for="name">Név:</label>
                    <input type="text" class="form-control" id="name" name="name" value="<%=umbrella.name%>">
                </div>
                <div class="form-group">
                    <label for="color">Szín:</label>
                    <input type="text" class="form-control" id="color" name="color" value="<%=umbrella.color%>">
                </div>

                <br>
                <br>

<<<<<<< Updated upstream
<div class="container">
    <div class="row">
        <div class="col-6">
            <input type="submit" href="/user/:userid" class="btn btn-block btn-primary" value="Mentés"/>
        </div>
        <div class="col-6">
            <a href="/user/:userid" class="btn btn-block btn-danger">Törlés</a>
=======
                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <input type="submit" class="btn btn-block btn-primary" value="Mentés"/>
                        </div>
                        <div class="col-6">
                            <a href="/user/list" class="btn btn-block btn-danger">Mégse</a>
                        </div>
                    </div>
                </div>
            </form>
>>>>>>> Stashed changes
        </div>
    </div>
</div>

<%- include('footer') -%>