<%- include('header', {pagetitle: 'Felhasználói adatok'}) -%>
<%- include('navbar', {active: 'users'}) -%>
<br>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1><%=user.name%></h1>
        </div>
    </div>
</div>
<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>Becenév:</h2>
        </div>
        <div class="col-6">
            <h4><%=user.nick%></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h2>Szobaszám:</h2>
        </div>
        <div class="col-6">
            <h4><%=user.room%></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h2>Asztal:</h2>
        </div>
        <div class="col-6">
            <h4><%=user.table%></h4>
        </div>
    </div>
</div>
<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>Esernyők:</h2>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col">Név</th>
                <th scope="col">&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <% umbrellas.forEach(function(umbrella){ %>
            <tr>
                <td><%=umbrella.name%></td>
                <td>
                    <a href="/umbrella/<%=user._id%>/edit/<%=umbrella._id%>"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a href="/umbrella/<%=user._id%>/delete/<%=umbrella._id%>"><i class="fa-solid fa-trash-can"></i></a>
                </td>
<<<<<<< Updated upstream
                <td>
                    <a href="/umbrella/:userid/edit/:umbrellaid"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a href="/user"><i class="fa-solid fa-trash-can"></i></a>
                </td>

=======
>>>>>>> Stashed changes
            </tr>
            <% }); %>
            </tbody>
        </table>
        <a href="/umbrella/<%=user._id%>/new" class="btn btn-block btn-primary">Új esernyő</a>
    </div>
</div>
<%- include('footer') -%>