<%- include('header', {pagetitle: 'Tagok'}) -%>
<%- include('navbar', {active: 'users'}) -%>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Felhasználóink</h1>
        </div>
    </div>
    <br>
    <div class="row">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Név</th>
                <th scope="col">Szobaszám</th>
                <th scope="col">Admin</th>
            </tr>
            </thead>
            <tbody>
                <% users.forEach(function(user){ %>
                <tr>
                    <td><a href="/user/data/<%=user._id%>" class="text-body"><%=user.name%></a> </td>
                    <td><%=user.room%></td>
                    <td> <% if (user.admin === 'y') {%><i class="fa-solid fa-check"></i><% }%></td>
                </tr>
                <% }); %>
            </tbody>
        </table>
        <a href="/user/new" class="btn btn-block btn-primary">Új felhasználó</a>
    </div>

</div>
<%- include('footer') -%>